{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

     <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="{{ path('reservation_index') }}">Back to List</a>
            {{ include('reservation/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
