{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block main %}
    <h1>Edit Room</h1>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="{{ path('room_index') }}">Back to List</a>
            {{ include('room/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
